extends /base.jade
block vars
block head
  script(type="text/javascript",src="/js/report/index.js")
block body
  #landing
    #banner
    .abs
      .btn.btn-dark.btn-lg 中文報告
      span &nbsp;
      .btn.btn-dark.btn-lg English Report
  #report(ng-controller="report",style="max-width:100%;margin:0")
    #summary
      - var colors = [{"value":"#ffc8c8"},{"value":"#a0c8d7"},{"value":"#c8dc96"},{"value":"#afa5cd"}].map(function(d,i) { return d.value; });
      - var icons = ["0.1", "2.1", "5.4", "10"];
      each item in data[lang]
        .summary-block(data-color=colors[$index],style="color:#222;background:" + colors[$index])
          .row.block1024.clickable(data-toggle="collapse", data-target="#summary-" + $index)
            .col-sm-5.text-left
              h1 #[img(src="/assets/img/icons/icon_" + icons[$index] + ".svg")] #[span #{item.name}]
            .col-sm-7.text-right
              h1 #{item.name}
              p.desc #{item.summary}
              .btn.btn-link.btn-lg: i.fa.fa-chevron-down
          .collapse.detail(id="summary-" + $index,data-toggle="collapse", data-target="#summary-" + $index)
            .block800
              h2 #{_("關鍵結論")}
              .sep
              div !{item.detail}
            a.btn.btn-block.btn-link.btn-lg.text-center(href="/report/")
              span Read the Report 
              i.fa.fa-chevron-right
    .sep.huge-gap
    +nbr(1)
    h3.text-center #{_("有任何想法嗎？歡迎在這裡跟大家討論！")}
    .block1024
      script.
        var disqus_config = function () {
        this.page.url = "http://opengovreport.ocf.tw/";
        this.page.identifier = "/";
        };
      include /module/disqus.jade

  include /footer.jade
